__pycache__/
*.pyc
.venv/
.venv-tf/
.DS_Store
.vscode/

data/raw/
data/processed/
data/tfx_input/

models/*.joblib
models/*.keras
models/*.h5
models/*.pkl

artifacts/
beam-temp-*/
*.tfrecord

.ipynb_checkpoints/
*.log